# .gitignore file
#
# Set up for Microchip/MPLAB X development
#
# Striebel
#
# Updated on 16.08.2023

# MPLAB X IDE (Netbeans) specific
**/~*.*
**/build
**/debug
**/dist
**/disassembly
**/.generated_files
**/nbproject/private
**/nbproject/*.mk
**/nbproject/*.bash
**/nbproject/Makefile-*
**/nbproject/Package-*
**/nbproject/Makefile-genesis.properties
**/queuelogs

# MCC specific
**/*mc3.bak*

# Large Files
*.exe
*.zip
*.pdf

#MacBook specific files
.DS_Store
